@import "tailwindcss";

/* 强制系统字体，避免字体差异 */
html {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Arial,
    sans-serif;
}

/* 字体抗锯齿 */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;     /* 原版整体更小 */
  line-height: 1.55;   /* 更像印刷排版 */
  margin: 0;
  
}
